* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
}

.row {
  margin: 15px;
}

.box {
  border: 1px solid black;
  float: left;
  height: 200px;
  margin: 0.5%;
  position: relative;
  background: lightgray;
}

.box-label {
  padding: 10px;
  background: cornsilk;
  width: 140px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
}

h2 {
  text-align: center;
}

.chicken {
  background: lightblue;
}

.beef {
  background: teal;
}

.sushi {
  background: lightcoral;
}

.row p {
  position: relative;
  top: 35%;
  padding: 0 10px;
}

/* desktop */
@media (min-width: 992px) {
  .box {
    width: 32.3%;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .box:nth-child(2),
  .box:nth-child(3) {
    width: 49%;
  }
}

/* mobile */
@media (max-width: 767px) {
  .box1,
  .box2,
  .box3 {
    width: auto;
  }
}
